.lista-tarefas{
    /* background-color: pink; */
    display: flex;
    flex-direction: column;
}

.lista-elementos{
    /* background-color: green; */
    display: flex;
    margin-bottom: 0.3rem;
}

.lista-botoes{
    /* background-color: aquamarine; */
    display: flex;
    flex: 1;
    justify-content: end;
    /* align-items: end; */
    text-align: end;
}

.lista-botoes button{
    margin-left: 1rem;
    border-radius: 5px;
}